/* Estilos generales */
body {
    background-color: #00001a;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Encabezado */
header {
    background-color: #21213b;
    color: black;
    margin: 2%;
    border-radius: 1cm;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    padding: .5em 0 0 1.5em;
    margin-bottom: 0;
    color: #aaa6ca;
}

header h2 {
    padding-left: 1.7em;
    color: #8a87a9;
    margin: 0 0 1em 0;
}

/* Navegación */
.navegation {
    display: inline;
    align-items: center;
}

ul {
    list-style-type: none;
    padding-right: 3em;
}

li {
    margin-left: 20px;
    display: inline-block;
    padding-left: 100px;
}

li a {
    text-decoration: none;
    color: white;
}

/* Contenedor de información */
#info {
    background-color: #0c0c22;
    margin: 2%;
    color: white;
    padding: 25px;
    border-radius: 15px;
}

#info h3 {
    margin-top: 0;
    font-size: 2em;
    margin-bottom: 0;
}

#info a {
    color: white;
    text-decoration: underline;
}

p.desc {
    font-style: italic;
    color:antiquewhite;
}

/* Tabla de redes sociales */
table.social {
    margin-top: 20px;
    background-color: white;
    border-radius: 7px;
    margin-bottom: 15px;
    color: #00001a;
}

table.social th {
    padding-right: 10px;
}

/* Imágenes */
img {
    max-width: 100%;
    height: auto;
}


/* Pie de página */
footer {
    background-color: #21213b;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Enlaces */
a {
    color: #aaa6ca;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
