/* ----- Body ---- */
body{
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: url('imagenes/imagen2.jpg');
}
a{
  color: rgb(98, 163, 209); 
}

/*--------Header-------*/

header{
  margin: 0;
}

header ul{
  margin: 7px;
}

header li{
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

header div{
  padding: .5px 50px;
}

div#sectionOne {
  background-color:#283649;
}

div#sectionTwo {
  background-color: #001e3e;
  color: white;
  font-size: 1.3em;
  padding-left: 105px;
}

div#sectionThree{
  background-color: #dae1e8;
  font-size: 1.5em;
}

/* ------ Content ----*/
div.content{
  background-color: white;
  margin: 30px 160px;
  border: 3px solid black;
}

div.content h2{
  background-color: #001e3e;
  margin: 0;
  padding: 15px 20px;
  color: white;
}
i.ital-grey{
  color: grey;
}
div.contentInfo{
  padding: 20px 10px;
}
div.contentInfo p{
  margin: 2px 0;
}
/* Profile img */
div#imgBackground{
  border: 0;
}
div#centrar-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

div#profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 2px solid #333;
  border-block: 50%; 
  margin-right: 90px;
}

div#profile-photo img {
  width: 90%; 
  height: 90%; 
  object-fit: cover; 
}

div.buttons{
  background-color: #283649;
}
