
.barra {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100% ;
    background-color:#283649; 
    padding: 100 px; 
    z-index: 9999; 
  }
  
  .barra ul {
    list-style: none; 
    padding: 0;
    margin: 0;
  }
  
  .barra li {
    display: inline; 
    margin-right: 20px; 
  }
  
  .barra a {
    color: rgb(0, 81, 255); 
  }
  
  .titulo {
    position: sticky;
    top: 0;
    right: 0;
    background-color: #001e3e;
    padding: 6px; 
    width: 100%
  }
  
  .titulo {
   color: white;
  }
  
  .barra2{
    background-color: #dae1e8;
  }
  
  .barra2 ul {
    list-style: none; 
    padding: 0;
    margin: 0;
  }
  
  .barra2 li {
    display: inline; 
    margin-right: 20px; 
  }
  
  .barra2 a {
    color: #88c7ef; 
  }
  
  body {
    background-image: url('imagenes/imagen2.jpg'); 
    background-size: cover; 
    background-attachment: fixed; 
    padding: 20px; 
    color: white;
  }
  
  
  .centrar-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 2px solid #333;
    border-block: 50%; 
    margin-right: 90px;
  }
  
  .profile-photo img {
    width: 90%; 
    height: 90%; 
    object-fit: cover; 
  }
  