ul{
    margin: 7px;
}
li {
    padding-left: 5px;
    padding-right: 5px;
}
header div{
    padding: .5px 50px;
}
div#sectionTwo {
    font-size: 1.3em;
    padding-left: 105px;
}
div#sectionThree{
    font-size: 1.5em;
}
div.content{
    margin: 30px 160px;

}
div.content h2{
    padding: 15px 20px;
}
div.contentInfo{
    padding: 20px 10px;
}
div.contentInfo p{
    margin: 2px 0;
}
div#centrar-contenedor {
    padding: 30px 30px 0 30px;
}

div#profile-photo {
    width: 200px;
    height: 200px;
}

.profile-photo {
    width: 200px;
    height: 200px;
}

.button-icon{
    height: 20px;
    margin: 5px;
}
.button-icon img {
    width: 10px;
    margin-right: 10px; 
}
